.video-container {
  margin: 2em auto 0;
  padding: 2em;
  background: white;
}

#localVideo {
  -webkit-filter: sepia(1);
}

.videoStream {
  max-width: 100%;
}

/*.row-fluid{ 
  min-height:800px; 
}
*/